<p id="notice"><%= notice %></p>

<h1><%= @person.name %></h1>

<p>
  <b>Bio:</b><br />
  <%= @person.bio %>
</p>

<p>
  <b>Url twitter:</b><br />
  <%= @person.url_twitter.empty? ? "--" : @person.url_twitter %>
</p>

<p><strong>Hosts these shows:</strong><br />
<% if @person.hostships.count == 0 %>
  --
<% else %>
  <ul>
    <% @hostships.each do |hostship| %>
      <% if hostship.person_id == @person.id %>
        &bull; <%= link_to Show.find(hostship.show_id).name, Show.find(hostship.show_id) %><br />
      <% end %>
    <% end %>
  </ul>
<% end %>
</p>

<p><strong>Guest appearances:</strong><br />
<% if @person.guestships.count == 0 %>
  --
<% else %>
  <ul>
    <% @guestships.each do |guestship| %>
      <% if guestship.person_id == @person.id %>
        &bull; <%= link_to Episode.find(guestship.episode_id).title, Episode.find(guestship.episode_id) %><br />
      <% end %>
    <% end %>
  </ul>
<% end %>
</p>

<hr />
<p><%= link_to 'Edit', edit_person_path(@person), :class => "btn" %></p>