<p id="notice"><%= notice %></p>

<h1>Listing networks</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th># of Shows</th>
    <th></th>
    <th></th>
  </tr>

<% @networks.each do |network| %>
  <tr>
    <td><%= network.id %></td>
    <td><%= link_to network.name, network_url(network.id) %></td>
    <td><%= truncate(network.description, :length=>120) %></td>
    <td><%= network.shows.count %></td>
    <td><%= link_to 'Edit', edit_network_path(network) %></td>
    <td><%= link_to 'Destroy', network, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= link_to 'New Network', new_network_path, :class => "btn" %></p>