<p id="notice"><%= notice %></p>

  <h1><%= @network.name %></h1>

<p>
  <b>Description:</b><br />
  <%= @network.description %>
</p>

<p>
  <b>Website:</b><br />
  <%= link_to @network.url_web %>
</p>

<p>
  <b>Shows on this network:</b><br />
  <% unless @network.shows.count == 0 %>
    <ul>
      <% @network.shows.each do |show| %>
      <li><%= show.name %></li>
      <% end %>
    </ul>
  <% else %>
    <em>none</em>
  <% end %>
<p>

<%= link_to 'Edit', edit_network_path(@network), :class => "btn btn-secondary" %>