<%= form_for(@episode) do |f| %>
  <% if @episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
      <% @episode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :url_web, "Episode Webpage" %><br />
    <%= f.text_field :url_web %>
  </div>
  <div class="field">
    <%= f.label "Show" %><br />
    <%= f.collection_select(:show_id, @shows, :id, :name, :include_blank => "(none)")%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
