<h1>Edit this episode</h1>

<%= render 'form' %>
<hr />

<p>
  <b>Guests:</b>
  <ul>
  <% @guestships.each do |guestship| %>
    <% if guestship.episode_id == @episode.id %>
      <li><%= link_to Person.find(guestship.person_id).name, person_url(guestship.person_id) %> (<%= link_to 'remove', guestship, method: :delete, data: { confirm: 'Are you sure?' } %>)</li>
    <% end %>
  <% end%>
  </ul>
</p>

<hr />

<p><strong>Add a guest:</strong></p>
<%= form_for @guestship do |f| %>
  <%= f.hidden_field :episode_id, :value => @episode.id %>
    <%= f.collection_select(:person_id, @people, :id, :name, :include_blank => "Select...") %>
  <%= f.submit 'Add Guest' %>
<% end %>

<hr />

<p>
  <%= link_to 'Delete this episode', @episode, :class => "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %>
</p>