<p id="notice"><%= notice %></p>

<h1><%= @episode.title %></h1>
<p>on the show <%= link_to @episode.show.name, show_url(@episode.show.id) %></p>

<hr />

<p>
  <b>Notes:</b><br />
  <%= @episode.notes %>
</p>

<p>
  <b>Website:</b><br />
  <%= @episode.url_web.blank? ? "--" : link_to(@episode.url_web,@episode.url_web,:target => "_blank") %>
</p>

<hr />

<p>
  <b>Guests:</b><br />
  <% @guestships.each do |guestship| %>
    <% if guestship.episode_id == @episode.id %>
      &bull; <%= Person.find(guestship.person_id).name %> (<%= link_to 'remove', guestship, method: :delete, data: { confirm: 'Are you sure?' } %>)<br />
    <% end %>
  <% end%>
</p>

<p><strong>Add a guest:</strong></p>
<%= form_for @guestship do |f| %>
  <%= f.hidden_field :episode_id, :value => @episode.id %>
    <%= f.collection_select(:person_id, @people, :id, :name, :include_blank => "Select...") %>
  <%= f.submit 'Add Guest' %>
<% end %>

<hr />



<p>
  <%= link_to 'Edit', edit_episode_path(@episode), :class => "btn" %>
</p>

