<p id="notice"><%= notice %></p>

<h1><%= @episode.title %></h1>
<% unless @episode.show.blank? %>
  <p>on the show <%= link_to @episode.show.name, show_url(@episode.show.id) %></p>
<% else %>
  <p><em>no show is assigned to this episode</em></p>
<% end %>

<hr />

<p>
  <b>Notes:</b><br />
  <%= @episode.notes %>
</p>

<p>
  <b>Website:</b><br />
  <%= @episode.url_web.blank? ? "--" : link_to(@episode.url_web,@episode.url_web,:target => "_blank") %>
</p>

<hr />

<p>
  <b>Guests:</b>
  <ul>
  <% @guestships.each do |guestship| %>
    <% if guestship.episode_id == @episode.id %>
      <li><%= link_to Person.find(guestship.person_id).name, person_url(guestship.person_id) %></li>
    <% end %>
  <% end%>
  </ul>
</p>



<hr />



<p>
  <%= link_to 'Edit', edit_episode_path(@episode), :class => "btn" %>
</p>

