<h1>Listing hostships</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Show</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hostships.each do |hostship| %>
  <tr>
    <td><%= hostship.person_id %></td>
    <td><%= hostship.show_id %></td>
    <td><%= link_to 'Show', hostship %></td>
    <td><%= link_to 'Edit', edit_hostship_path(hostship) %></td>
    <td><%= link_to 'Destroy', hostship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hostship', new_hostship_path %>
