<p id="notice"><%= notice %></p>

<h1><%= @show.name %></h1>

<p>
  <b>Description:</b><br />
  <%= @show.description %>
</p>

<p>
  <b>Website:</b><br />
  <%= @show.url_web.blank? ? "--" : link_to(@show.url_web,@show.url_web,:target => "_blank") %>
</p>

<p>
  <b>iTunes URL:</b><br />
  <%= @show.url_itunes.blank? ? "--" : link_to(@show.url_itunes,@show.url_itunes,:target => "_blank") %>
</p>

<p>
  <b>RSS URL:</b><br />
  <%= @show.url_rss.blank? ? "--" : link_to(@show.url_rss,@show.url_rss,:target => "blank") %>
</p>

<p>
  <b>Hosted by:</b>
  <ul>
  <% @hostships.each do |hostship| %>
    <% if hostship.show_id == @show.id %>
      <li><%= link_to Person.find(hostship.person_id).name, person_url(hostship.person_id) %> (<%= link_to 'remove', hostship, method: :delete, data: { confirm: 'Are you sure?' } %>)</li>
    <% end %>
  <% end%>
  </ul>
</p>

<p>
  <b>Episodes of this show:</b>
  <% unless @show.episodes.count == 0 %>
    <ul>
      <% @show.episodes.each do |episode| %>
      <li><%= link_to episode.title, episode_url(episode.id) %></li>
      <% end %>
    </ul>
  <% else %>
    <br /><em>none</em>
  <% end %>
<p>


<%= link_to 'Edit', edit_show_path(@show), :class => "btn" %>