<p id="notice"><%= notice %></p>

<h1><%= @show.name %></h1>

<p>
  <b>Description:</b><br />
  <%= @show.description %>
</p>

<p>
  <b>Show website:</b><br />
  <%= @show.url_web.empty? ? "--" : link_to(@show.url_web) %>
</p>

<p>
  <b>Episodes of this show:</b>
  <% unless @show.episodes.count == 0 %>
    <ul>
      <% @show.episodes.each do |episode| %>
      <li><%= link_to episode.title, episode_url(episode.id) %></li>
      <% end %>
    </ul>
  <% else %>
    <br /><em>none</em>
  <% end %>
<p>


<%= link_to 'Edit', edit_show_path(@show), :class => "btn" %>