<!DOCTYPE html>
<html>
<head>
  <title>Sb7</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="margin: 0; padding:0; ">

<p style="background:#222;text-align:center;margin: 0 0 20px 0; padding: 20px;">
  <%= link_to "Networks", networks_url %> | <%= link_to "Shows", shows_url %> | <%= link_to "Episodes", episodes_url %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "People", people_url %> | <%= link_to "Guestships", guestships_url %> | <%= link_to "Hostships", hostships_url %>
</p>

<div class="container">
  <div class="buffer tile">
    <%= yield %>
  </div> <!-- // .buffer -->
</div> <!-- // .container -->

</body>
</html>
